*{
    text-decoration: none;
}

.navbar{
    background: rgb(201, 255, 5);
    font-family: "Abel", sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}
 
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;

}